[submodule "front-end/bloco-15-gerenciamento-de-estado-com-redux/dia-2-usando-o-redux-no-react/exercise-react-with-redux-intro"]
	path = front-end/bloco-15-gerenciamento-de-estado-com-redux/dia-2-usando-o-redux-no-react/exercise-react-with-redux-intro
	url = /home/nata/trybe/exercicios/front-end/bloco-15-gerenciamento-de-estado-com-redux/dia-2-usando-o-redux-no-react/exercise-react-with-redux-intro
