html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 20px;
  font-size: 1.2em;
}

header p {
  font-size: 32px;
}

ul {
  padding-left: 20px;
}

ul li {
  list-style: none;
}

.main-content p {
  text-align: justify;
}

@media screen and (min-width: 720px) and (max-width: 1099px) {
  body {
    font-size: 1.1em;
  }

  .aside-container {
    display: flex;
    flex-basis: 50%;
  }

  .aside-two {
    margin-left: 40px;
  }
}
